* {
    padding: 0px;
    margin: 0px;
    background-size: 100%;
}

body {
    background-color: rgb(6, 176, 244);
}

#container {
    background-color: aliceblue;
    align-content: center;
    height: 650px;
    width: 450px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.sign-in a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    top: 30px;
    font-weight: bold;
    margin-right: 8.5px;
    margin-left: 8.5px;
}

.sign-in a:hover {
    border-bottom: 3px solid rgb(6, 176, 244);
}

.sign-in {
    margin-top: 5px;
}

.fa-user {
    position: relative;
    top: 300px;
    left: 10px;
    font-size: 18px;
}

.key {
    position: relative;
    top: 300px;
    left: 10px;
    font-size: 18px;
}

.pw {
    position: relative;
    top: 300px;
    outline: 0;
    border-width: 0 0 2px;
    background-color: transparent;
    border-color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
}

.emailid {
    position: relative;
    top: 300px;
    outline: 0;
    border-width: 0 0 2px;
    background-color: transparent;
    border-color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
}

input:focus {
    border-color: rgb(0, 0, 0);
    font-weight: normal;
}

.btn {
    position: relative;
    top: 315px;
    background-color: rgb(6, 176, 244);
    font-size: 15px;
    outline: 0;
    border: none;
    padding: 12px 50px;
    color: white;
    margin: 20px 0 0 50px;
}

.btn:hover {
    cursor: pointer;
    color: black;
    box-shadow: 0px 0px 5px 5px black;
    transition: .8s;
}

#fpass {
    position: relative;
    top: 405px;
    background-color: rgb(223, 230, 230);
    padding: 18px 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#fpass a {
    text-decoration: none;
    color: rgb(6, 176, 244);
}

#fpass a:hover {
    cursor: pointer;
}